---
title: Gluster Developer Summit 2016 - Schedule
---

%h3 Schedule of talks
%p

  %table{:class => 'table'}
    %tr
      %td{:colspan => 3}
        %h4{:class => 'text-center'} October 6
    %tr
      %td 9:00am - 9:25am
      %td{:colspan => 2} Opening Session
    %tr
      %td 9:30 - 9:55am
      %td DHT: current design, (dis)advantages, challenges - A perspective
      %td Raghavendra Gowdappa
    %tr
      %td 10:00am - 10:25am
      %td DHT2 - O Brother, Where Art Thou?
      %td Shyam Ranganathan
    %tr
      %td 10:30am - 10:55am
      %td Performance bottlenecks for metadata workload in Gluster
      %td Poornima Gurusiddaiah, Rajesh Joseph
    %tr
      %td 11:00am - 11:25am
      %td The life of a consultant listed on gluster.org
      %td Ivan Rossi
    %tr
      %td 11:30am - 11:55am
      %td Architecture of the High Availability Solution for Ganesha and Samba
      %td Kaleb Keithley
    %tr{:class => 'success'}
      %td 12:00 - 1:00pm
      %td{:colspan => 2, :class => 'text-center'} Lunch
    %tr
      %td 1:00pm - 1:25pm
      %td Challenges with Gluster and Persistent Memory
      %td Dan Lambright
    %tr
      %td 1:25pm - 1:55pm
      %td Throttling in gluster
      %td Ravishankar Narayanankutty
    %tr
      %td 2:00pm - 2:25pm
      %td Gluster: The Ugly Parts
      %td Jeff Darcy
    %tr
      %td 2:30pm - 2:55pm
      %td Deterministic Releases and How to Get There"
      %td Nigel
    %tr{:class => 'success'}
      %td 3:00pm - 3:25pm
      %td{:colspan => 2, :class => 'text-center'} Break
    %tr
      %td 3:30pm - 4:00pm
      %td{:colspan => 2} Birds of a Feather Sessions
    %tr
      %td 4:00pm - 4:55pm
      %td{:colspan => 2} Birds of a Feather Sessions
    %tr
      %td Evening
      %td{:colspan => 2} Reception to be announced
    %tr
      %td{:colspan => 3}
        %h4{:class => 'text-center'} October 7
    %tr
      %td 9:00am - 9:25am
      %td GFProxy: Scaling the GlusterFS FUSE Client
      %td Shreyas Siravara
    %tr
      %td 9:30 - 9:55am
      %td Sharding in GlusterFS - Past, Present and Future
      %td Krutika Dhananjay
    %tr
      %td 10:00am - 10:25am
      %td Object Storage with Gluster
      %td Prashanth Pai
    %tr
      %td 10:30am - 10:55am
      %td Containers and Perisstent Storage for Containers
      %td Humble Chirammal, Luis Pabon
    %tr
      %td 11:00am - 11:25am
      %td Gluster as Block Store in Containers
      %td Prasanna Kalever
    %tr
      %td 11:30am - 11:55am
      %td An Update on GlusterD-2.0
      %td Kaushal Madappa
    %tr{:class => 'success'}
      %td 12:00 - 1:00pm
      %td{:colspan => 2, :class => 'text-center'} Lunch
    %tr
      %td 1:00pm - 1:25pm
      %td Integration of GlusterFS in to Commvault data platform
      %td Ankireddypalle Reddy
    %tr
      %td 1:30-1:55pm
      %td{:colspan => 2} Bootstrapping Challenge
    %tr
      %td 2:00pm - 2:25pm
      %td Practical Glusto Example
      %td Jonathan Holloway
    %tr
      %td 2:30pm - 2:55pm
      %td State of Gluster Performance
      %td Manoj Pillai
    %tr
      %td 3:00pm - 3:25pm
      %td Server side replication
      %td Avra Sengupta
    %tr
      %td 3:30pm - 4:00pm
      %td{:colspan => 2} Birds of a Feather Sessions
    %tr
      %td 4:00pm - 4:55pm
      %td{:colspan => 2} Birds of a Feather Sessions
    %tr
      %td 5:00pm - 5:30pm
      %td{:colspan => 2} Closing
