---
title: Gluster Developer Summit 2016 - Schedule 
---

%h3 Schedule of talks 
%p 

%table
  %tr
    %th
      October 6
      %p 9:00am - 9:25am	 Opening Session
      %p 9:30 - 9:55am	DHT: current design, (dis)advantages, challenges - A perspective Raghavendra Gowdappa
      %p 10:00am - 10:25am  	DHT2 - O Brother, Where Art Thou?	Shyam Ranganathan
      %p 10:30am - 10:55am 	Performance bottlenecks for metadata workload in Gluster	Poornima Gurusiddaiah ,  Rajesh Joseph
      %p 11:00am - 11:25am	  The life of a consultant listed on gluster.org	Ivan Rossi
      %p 11:30am - 11:55am	  Architecture of the High Availability Solution for Ganesha and Samba,  Kaleb Keithley
      %p 12:00 - 1:00pm	Lunch
      %p 1:00pm - 1:25pm	Challenges with Gluster and Persistent Memory	Dan Lambright
      %p 1:25pm - 1:55pm	 Throttling in gluster	 Ravishankar Narayanankutty
      %p 2:00pm  - 2:25pm	Gluster: The Ugly Parts	Jeff Darcy
      %p 2:30pm  - 2:55pm	 Deterministic Releases and How to Get There"	Nigel
      %p 3:00pm - 3:25pm	 Break
      %p 3:30pm - 4:00pm	 Birds of a Feather Sessions
      %p 4:00pm - 4:55pm	 Birds of a Feather Sessions
      %p Evening Reception to be announced
    %th
      October 7
      %p 9:00am - 9:25am	GFProxy: Scaling the GlusterFS FUSE Client  	Shreyas Siravara
      %p 9:30 - 9:55am	Sharding in GlusterFS - Past, Present and Future	Krutika Dhananjay
      %p 10:00am - 10:25am	Object Storage with Gluster	Prashanth Pai
      %p 10:30am - 10:55am 	Containers and Perisstent Storage for Containers.	Humble Chirammal, Luis Pabon
      %p 11:00am - 11:25am 	Gluster as Block Store in Containers  Prasanna Kalever
      %p 11:30am - 11:55am	An Update on GlusterD-2.0 	Kaushal Madappa
      %p 12:00 - 1:00pm	Lunch
      %p 1:00pm - 1:25pm	 Integration of GlusterFS in to Commvault data platform 	Ankireddypalle Reddy
      %p 1:30-1:55pm	Bootstrapping Challenge
      %p 2:00pm  - 2:25pm	Practical Glusto Example	Jonathan Holloway
      %p 2:30pm  - 2:55pm	State of Gluster Performance	Manoj Pillai
      %p 3:00pm - 3:25pm	Server side replication	Avra Sengupta
      %p 3:30pm - 4:00pm	 Birds of a Feather Sessions
      %p 4:00pm - 4:55pm	 Birds of a Feather Sessions
      %p 5:00pm - 5:30pm 	Closing
