---
title: Gluster Summit 2017
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h2 Gluster Summit 2017

      %p
        The ants are marching!
        On October 27 and 28, the Gluster contributor community is coming together to discuss the state of Gluster and the plans for the future in Prague, Czech Republic.


.container
  .row
    .col-sm-12.col-md-4
      %h2
        Call for Papers
      %p
        We'll be opening a Call for Papers in the upcoming weeks. 

    .col-md-4.col-sm-12.eventbanner
      %h2
        Prague, Czech Republic

      %p
        A gathering of developers, system administrators and other Gluster users will be held in Prague, Czech Republic at Ganimed.cz.

        %p
        This is a free event hosted for the Gluster community.


      %p
      %p
        %a{ :href=>"http://www.ganimed.cz/" } &raquo; Ganimed.CZ

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        Attendance this year is open to all! Registration will open July 1, 2017. 
       




.container
  .jumbotron
    %blockquote
      Join us for the third annual Gluster Summit!
