w---
title: Gluster Summit 2017
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h2 Gluster Summit 2017

      %p
        The ants are marching!
        On October 27 and 28, the Gluster contributor community is coming together to discuss the state of Gluster and the plans for the future in Prague, Czech Republic.


.container
  .row
    .col-sm-12.col-md-4
      %h2
        Call for Papers
      %p
        Our CFP is now open through July 31st! We're accepting talks of 25 minutes, lightning talks of 5 minutes and birds of a feather conversations! https://goo.gl/forms/E5YYHi6lwciItW3U2

    .col-md-4.col-sm-12.eventbanner
      %h2
        Prague, Czech Republic

      %p
        A gathering of developers, system administrators and other Gluster users will be held in Prague, Czech Republic at Ganimed.cz.

        %p
        This is a free event hosted for the Gluster community.


      %p
      %p
        %a{ :href=>"http://www.ganimed.cz/" } &raquo; Ganimed.CZ

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        Attendance this year is open to all! Registration is currently open, register here: https://goo.gl/forms/WPlnua9TRZ0Y0XQC2
       




.container
  .jumbotron
    %blockquote
      Join us for the third annual Gluster Summit!
