---
title: Gluster Summit 2017
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h2 Gluster Summit 2017

      %p
        The ants are marching!
        On October 27 and 28, the Gluster contributor community is coming together to discuss the state of Gluster and the plans for the future in Prague, Czech Republic.


.container
  .row
    .col-sm-12.col-md-4
      %h2
        Call for Proposals
      %p
        Your submission should be a proposal for a 25 minute talk, a 5 minute lightning talk, or a collaborative birds of a feather conversation. Submitters should consider audience takeaways as well as how this proposal will move the Gluster project forward. 
      %p 
        We'll be accepting proposals until July 31st. Accepted proposals will be notified the week of July 31st. 
      %a{ :href=>"https://goo.gl/forms/1oM0nJgp1h0Zs3Z92" } &raquo; Submission Form


    .col-md-4.col-sm-12.eventbanner
      %h2
        Prague, Czech Republic

      %p
        A gathering of developers, system administrators and other Gluster users will be held in Prague, Czech Republic at Ganimed.cz.

        %p
        This is a free event hosted for the Gluster community.


      %p
      %p
        %a{ :href=>"http://www.ganimed.cz/" } &raquo; Ganimed.CZ

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        Attendance this year is open to all! 
      %p Registration open through October 20th!
      %p
        %a{ :href=>"https://goo.gl/forms/pry9xjnXz434urOo2" } &raquo; Registration Form
      %p Want to sponsor? Contact our Gluster Community Lead, Amye - amye@redhat.com for more details!


.container
  .jumbotron
    %blockquote
      Join us for the third annual Gluster Summit! 
    
