---
title: Gluster Developer Summit 2016
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h2 Gluster Developer Summit 2016

      %p
        The ants are marching!
        On October 6 and 7, the Gluster contributor community is coming together to discuss the state of Gluster and the plans for the future in Berlin, Germany.


.container
  .row
    .col-sm-12.col-md-4
      %h2
        Sponsor
      %p
        Information around sponsorships will be available soon. 

    .col-md-4.col-sm-12.eventbanner
      %h2
        Berlin, Germany

      %p
        Join the conversation!
        
        %p
        Gluster Developers Summit will be held at the InterContinental Berlin.
        
        
      %p
      %p
        %a{ :href=>"http://www.ihg.com/intercontinental/hotels/gb/en/berlin/berha/hoteldetail" } &raquo; InterContinental Berlin

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        Gluster Developers Summit is an invite only event.
      %h5
        %a( href="https://docs.google.com/forms/d/1FTUBdn3m1ypVKeyzU5p_X-MgAHDCu7MSv5tRIpR-Gts/viewform")
          %i.fa.fa-fw.fa-group
          Apply for an invitation

          
.container
  .jumbotron
    %blockquote
      Join us!
