---
title: Gluster Developer Summit 2016
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h2 Gluster Developer Summit 2016

      %p
        The ants are marching!
        On October 6 and 7, the Gluster contributor community is coming together to discuss the state of Gluster and the plans for the future in Berlin, Germany.


.container
  .row
    .col-sm-12.col-md-4
      %h2
        Sponsorship
      %p
        Sponsor an evening event at Gluster Developer Summit! Interested?
        Email
        %a( href="mailto:amye@gluster.org")amye@gluster.org
        for more details.

    .col-md-4.col-sm-12.eventbanner
      %h2
        Berlin, Germany

      %p
        Join the conversation!

        %p
        Gluster Developer Summit will be held at the InterContinental Berlin.


      %p
      %p
        %a{ :href=>"http://www.ihg.com/intercontinental/hotels/gb/en/berlin/berha/hoteldetail" } &raquo; InterContinental Berlin

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        Our schedule and detailed agenda!
        %a{ :href=>"schedule2016"}Talk Schedule




.container
  .jumbotron
    %blockquote
      Join us!
