-# This is a plain, static bootstrap navbar written in haml.
-# By default it is inverted and goes on the top of the page.

%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand( href="/" title="Home" )
        %span#logo
          %i.fa.fa.fa-fw.fa-home
          Gluster
        -# =image_tag "/images/logo.svg", id: "logo", class: "logo isSVG", alt: data.site.name

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{ :href=>"/download/" }
            %i.fa.fa-lg.fa-fw.fa-download
            %span.hidden-sm Install
        %li.dropdown
          %a.dropdown-toggle( href="#" data-toggle="dropdown" role="button" aria-expanded="false" )
            %i.fa.fa-lg.fa-fw.fa-newspaper-o
            %span.hidden-sm News
            %span.caret
          %ul.dropdown-menu( role="menu" )
            %li
              %a{ :href=>"/events" }
                Events
            %li
              %a{ :href=>"http://blog.gluster.org" }
                Gluster.org Blog
            %li
              %a{ :href=>"http://planet.gluster.org" }
                Planet Gluster - News and blog posts related to storage and gluster
        %li.dropdown
          %a.dropdown-toggle( href="#" data-toggle="dropdown" role="button" aria-expanded="false" )
            %i.fa.fa-lg.fa-fw.fa-graduation-cap
            %span.hidden-sm Documentation
            %span.caret
          %ul.dropdown-menu( role="menu" )
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/" }
                %strong
                  Quick Start Guide
                %span.text-muted &mdash; Start here if you are new!
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/Install-Guide/Overview/" }
                More detailed Installation Guide
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/Administrator%20Guide/" }
                Administrators' Guide
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/Developer-guide/Developers-Index/" }
                GlusterFS Developer Guide
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/Upgrade-Guide/README/" }
                Upgrade Guide
            %li.divider
            %li
              %a{ :href=>"http://docs.gluster.org/en/latest/" }
                More documentation...

        %li.dropdown
          %a.dropdown-toggle( href="#" data-toggle="dropdown" role="button" aria-expanded="false" )
            %i.fa.fa-lg.fa-fw.fa-bullhorn
            %span.hidden-sm Community
            %span.caret
          %ul.dropdown-menu( role="menu" )
            %li
              %a{ :href=>"/community/" }
                How to get involved?
            %li
              %a{ :href=>"/community/outreachy" }
                Outreachy
            %li
              %a{ :href=>"http://github.com/gluster" }
                Gluster @ Github - Development repositories for Gluster
            %li
              %a{ :href=>"/community/release-schedule/" }
                Release schedule
            %li
              %a{ :href=>"/community/roadmap/" }
                Roadmap of future Gluster releases


        %li
          %a{ :href=>"/consultants/" }
            %i.fa.fa-lg.fa-fw.fa-heart
            %span.hidden-sm Support


