---
navigation: community
---

.jumbotron
  %h1 
    %i.fa.fa-download.text-primary
    %a( href="http://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/") 
      Install GlusterFS

  %p
    Our
    %a( href="http://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/") Quickstart Guide 
    is a great way to install Gluster on CentOS, Fedora, and Red Hat Enterprise Linux.

  %h4 Download GlusterFS source code to build it yourself:
  %p=link_to "GlusterFS version 3.11 is the latest version as of May 30, 2017.", "http://download.gluster.org/pub/gluster/glusterfs/LATEST/", :target => "_blank"
  %p
    =link_to "Gluster 3.8 (Stable)", "http://download.gluster.org/pub/gluster/glusterfs/3.8/", :target => "_blank"
  %p
    =link_to "Gluster 3.10 (Stable)", "http://download.gluster.org/pub/gluster/glusterfs/3.10/", :target => "_blank"

  %h4 Packages for other versions of Linux:
  %p=link_to "Gluster Ubuntu PPAs", "https://launchpad.net/~gluster", :target => "_blank"

.small.text-muted
  %h6.small EXPORT COMPLIANCE/CUSTOMS INFORMATION
  %p.small
    By downloading Gluster software, you acknowledge that you understand all
    of the following: Gluster software and technical information may be
    subject to the U.S. Export Administration Regulations (the “EAR”) and
    other U.S. and foreign laws and may not be exported, re-exported or
    transferred (a) to any country listed in Country Group E:1 in Supplement
    No. 1 to part 740 of the EAR (currently, Cuba, Iran, North Korea, Sudan
    & Syria); (b) to any prohibited destination or to any end user who has
    been prohibited from participating in U.S. export transactions by any
    federal agency of the U.S. government; or (c) for use in connection with
    the design, development or production of nuclear, chemical or biological
    weapons, or rocket systems, space launch vehicles, or sounding rockets,
    or unmanned air vehicle systems. You may not download Gluster software or
    technical information if you are located in one of these countries or
    otherwise subject to these restrictions. You may not provide Gluster
    software or technical information to individuals or entities located in
    one of these countries or otherwise subject to these restrictions. You
    are also responsible for compliance with foreign law requirements
    applicable to the import, export and use of Gluster software and
    technical information.
