---
title: Documentation has moved!
---

.jumbotron
  %h1
    %i.fa.fa-compass.text-info 
    Documentation moved.

  %p.lead
    We are sorry for the inconvenience.
    You followed a link to old and stale documentation that
    was no longer accurate or maintained. To avoid misleading 
    you with incorrect information, we had to take the page 
    down. 

  %h2
    %a( href="http://docs.gluster.org" ) Please proceed to the new documentation index.
  %p
    Again, apologies for the trouble. We have reorganized our 
    documentation and divided it into guides spanning from 
    initial installation to more advanced administration and 
    maintenance topics. We hope that you find them useful.

  %p
    %em Gluster Documentation Team
