---
title: Storage for your Cloud.
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h1 Storage for your Cloud

      %p
        GlusterFS is a scalable network filesystem.  Using common off-the-shelf 
        hardware, you can create large, distributed storage solutions
        for media streaming, data analysis, and other data- and 
        bandwidth-intensive tasks. GlusterFS is free and open source software.

        %h2
          %a( href="http://gluster.readthedocs.org/en/latest/Quick-Start-Guide/Quickstart/" )
            %i.fa.fa-download
            Install GlusterFS
        .text-muted
          Our quickstart instructions guide you from selecting the right 
          harware through the actual installation.
          
.container
  .row
    .col-sm-12.col-md-4
      %h2
        Planet Gluster News
      = simple_feed_list "http://planet.gluster.org/feed.xml", 5, "author"
      %p
        %a{:href=>"http://planet.gluster.org"}
          %i.fa.fa-fw.fa-external-link-square
          More blog posts and news in Planet Gluster
        
    .col-md-4.col-sm-12.eventbanner
      %h2
        %a{ :href=>"/news/2015/05/glusterfs-3.7-is-available/" } GlusterFS 3.7.0 available!
      
      %p 
        We are happy to announce that Gluster 3.7.0 is now generally 
        available.  This release contains several new features, bug fixes
        and minor improvements.
      %p
        %a{ :href=>"/news/2015/05/glusterfs-3.7-is-available/" } &raquo; Read the full announcement
      
      -require 'rss'
      -require 'open-uri'
      -url = 'http://localhost:4567/news/tag/frontpage.xml'
      -open(url) do |rss|
        -feed = RSS::Parser.parse(rss)
        -feed.items.each do |item|
          =puts "Item: #{item.title}"

      
    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        GlusterFS is brought to you by a community of people like you, 
        from around the world. Help us make it even better!
      %h5
        %a( href="/community/")
          %i.fa.fa-fw.fa-group
          Learn to know the community
      %h5
        %a( href="http://gluster.org/community/documentation/index.php/Features")
          %i.fa.fa-fw.fa-comment
          Suggest a feature!
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Gluster
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Gluster-Documentation" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Documentation

.container
  .jumbotron
    %blockquote
      %p 
        The technical challenges to deliver thousands of videos to classrooms 
        across the globe is nowhere near a trivial task. With Gluster, Discovery 
        Education is excelling at this job. 
      %footer 
        Matt Blaha, Sr. Systems Engineer at Discovery Education 
        &mdash;
        %a( href="/cases/case-discovery-education/" ) Read more...
      
