---
title: Storage for your Cloud.
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h1 Storage for your Cloud

      %p
        GlusterFS is a scalable network filesystem.  Using common off-the-shelf 
        hardware, you can create large, distributed storage solutions
        for media streaming, data analysis, and other data- and 
        bandwidth-intensive tasks. GlusterFS is free and open source software.
        
.container
  .row
    .col-sm-12.col-md-4
      %h2
        %a( href="/download/" ) Item 1
      %p
        =lorem.sentences(3)
      %p
        =link_to lorem.sentence, "#"
        
    .col-sm-12.col-md-4
      %h2
        %a( href="/download/" ) Item 1
      %p
        =lorem.sentences(3)
      %p
        =link_to lorem.sentence, "#"
        
    .col-sm-12.col-md-4
      %h2
        %a( href="/download/" ) Item 1
      %p
        =lorem.sentences(3)
      %p
        =link_to lorem.sentence, "#"
        

