---
title: Storage for your Cloud.
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h1 Storage for your Cloud

      %p
        GlusterFS is a scalable network filesystem.  Using common off-the-shelf
        hardware, you can create large, distributed storage solutions
        for media streaming, data analysis, and other data- and
        bandwidth-intensive tasks. GlusterFS is free and open source software.

        %h2
          %a( href="/download/" )
            %i.fa.fa-download
            Install GlusterFS
        .text-muted
          Our quickstart instructions guide you through the installation.

.container
  .row
    .col-sm-12.col-md-4
      %h2
        Planet Gluster News
      = simple_feed_list "http://planet.gluster.org/feed.xml", 6, "author"
      %p
        %a{:href=>"http://planet.gluster.org"}
          %i.fa.fa-fw.fa-external-link-square
          More on Planet Gluster

    .col-md-4.col-sm-12.eventbanner
      %h2
        %a{ :href=>"/download" }
          Gluster Releases:

      %p
        Gluster 3.8, 3.7 and 3.6 are all stable versions currently receiving releases.
        
        %p
        Gluster 3.8 is the latest release as of June 2016. 
        
      %p
      %p
        %a{ :href=>"/download" } &raquo; Download

    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        GlusterFS is brought to you by a community of people like you,
        from around the world. Help us make it even better!
      %h5
        %a( href="/community/")
          %i.fa.fa-fw.fa-group
          Get to know the community!
      %h5
        %a( href="http://www.gluster.org/community/documentation/index.php/Features")
          %i.fa.fa-fw.fa-comment
          Suggest a feature!
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Gluster
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Gluster-Documentation" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Documentation

.container
  .jumbotron
    %blockquote
      %p
        The technical challenges to deliver thousands of videos to classrooms
        across the globe is nowhere near a trivial task. With Gluster, Discovery
        Education is excelling at this job.
      %footer
        Matt Blaha, Sr. Systems Engineer at Discovery Education
        &mdash;
        %a( href="/cases/case-discovery-education/" ) Read more...

