---
title: Storage for your Cloud.
no_container: true
---
%section
  .container
    .jumbotron
      = image_tag "antmascot.png", :class => "pull-right"
      %h1 Storage for your Cloud

      %p
        GlusterFS is a scalable network filesystem.  Using common off-the-shelf 
        hardware, you can create large, distributed storage solutions
        for media streaming, data analysis, and other data- and 
        bandwidth-intensive tasks. GlusterFS is free and open source software.

        %h2
          %a( href="http://gluster.readthedocs.org/en/latest/Quick-Start-Guide/Quickstart/" )
            %i.fa.fa-download
            Install now!
        %small.text-muted
          %strong
            GlusterFS version 3.7
          adds support for NFSv4 and Kerberos with multiple NFS-servers,
          bitrot detection, and other improvements, and bugfixes.
        %small.text-muted.clearfix
          =link_to "Read the full release announcement. [FIXME: link]", "#"
        
.container
  .row
    .col-sm-12.col-md-4
      %h2
        Planet Gluster News
      = simple_feed_list "http://planet.gluster.org/feed.xml", 5, "author"
      %p
        %a{:href=>"http://planet.gluster.org"}
          %i.fa.fa-fw.fa-external-link-square
          More blog posts and news in Planet Gluster
        
    .col-sm-12.col-md-4.eventbanner
      %h2
        %a{ :href=>"/events/summit2015/" } Gluster Summit 2015
       
      %p
        On May 12th and 13th, the Gluster contributor community is coming 
        together to discuss the state of Gluster and the plans for the 
        future in sunny Barcelona, Spain.
      %p
        %a{ :href=>"/events/summit2015/" } &raquo; Read more
        
    .col-sm-12.col-md-4
      %h2 Get Involved!
      %p
        GlusterFS is brought to you by a community of people like you, 
        from around the world. Help us make it even better!
      %h5
        %a( href="/community/")
          %i.fa.fa-fw.fa-group
          Learn to know the community
      %h5
        %a( href="http://gluster.org/community/documentation/index.php/Features")
          %i.fa.fa-fw.fa-comment
          Suggest a feature!
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=GlusterFS" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Gluster
      %h5
        %a( href="https://bugzilla.redhat.com/enter_bug.cgi?product=Gluster-Documentation" )
          %i.fa.fa-fw.fa-bug
          Report a problem in Documentation

